:root {
  --main-background-color-one: rgb(255, 230, 177);
  --main-background-color-two: rgb(127, 140, 255);
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

.card {
  -webkit-box-shadow: 2px 7px 19px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 7px 19px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 7px 19px -2px rgba(0, 0, 0, 0.75);
}

.w-100 {
  width: 100% !important;
}

.mt-8 {
  margin: 8px;
}

.flex-grow-1 {
  flex-grow: 1;
}

.btn {
  background-color: rgb(255, 166, 0);
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  outline: auto rgb(140, 196, 196);
  cursor: pointer;
  transition: all 0.3s ease-in;
  font-size: 16px;
}

.btn:hover {
  background-color: rgb(255, 200, 127);
}

.btn.small {
  padding: 8px 16px;
}

.btn-list {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    rgb(246, 225, 255),
    rgb(254, 252, 255),
    rgb(246, 225, 255)
  );
  width: 100%;
  color: black;
  text-decoration: none;
  margin-bottom: 2px;
  padding: 4px 8px;

  min-height: 1.25em;
  line-height: 1.25;

  cursor: default;
}

.btn-list.active {
  cursor: pointer;
}

.btn-list.active:hover {
  background: linear-gradient(
    rgb(238, 220, 252) 40%,
    rgb(240, 209, 255) 60%,
    rgb(243, 220, 252) 100%
  );
}

.ratio-box {
  position: relative;
}

.ratio-box::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.ratio-box-items {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}

.ratio-box.ratio-box-tall::before {
  padding-top: 120%;
}

ul {
  list-style-type: none;
  padding: 0;
}

#page-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;

  background-color: rgba(0, 0, 0, 0.9);
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;

  background-color: #fff;
  outline: auto rgb(250, 198, 101);
  padding: 16px;

  transition: transform 0.5s, opacity 0s;
}

.modal-container.hidden {
  display: block !important;
  transform: translate(-50%, 100vh);
  opacity: 100%;
}

.input-group {
  display: flex;
  margin-bottom: 16px;
}

input {
  margin-right: 16px;
  outline: auto;
  padding: 8px 8px;
}

input:focus {
  outline-color: rgb(204, 0, 255);
}

input.valid {
  outline: auto;
  outline-color: rgb(113, 255, 113);
}

input.invalid {
  outline: auto;
  outline-color: rgb(255, 113, 113);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  max-width: 1024px;
}

.main-content-container {
  width: 60%;
}

.main-content-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content-background {
  background: radial-gradient(
    var(--main-background-color-one),
    var(--main-background-color-two)
  );
}

.menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: flex-end;
  width: 40%;

  flex-grow: 1;
}

.menu ul li {
  width: 100%;
  margin-bottom: 16px;
}

.menu-title-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  flex-grow: 0.5;
}

.menu-title {
  font-size: 3em;
  color: white;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(73, 73, 73);
}

.menu-btn {
  width: 100%;
}

.lobby-rooms-list-container {
  overflow: hidden;
  overflow-y: scroll;
  max-height: 60%;
  min-height: 60%;
  width: 60%;
  margin-bottom: 16px;
  padding: 0;

  background: repeating-linear-gradient(
    to right,
    rgb(255, 231, 211) 20px,
    rgb(255, 236, 201) 20px
  );
}

.lobby-rooms-list-container ul {
  width: 100%;
  margin: 0;
}

.lobby-create-room-container.active {
  max-height: 5em;
}

.lobby-choices-container {
  margin-top: 16px;
  border: 1px solid orange;
  outline: auto rgb(253, 198, 96);
  /*-webkit-box-shadow: 2px 7px 19px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 7px 19px -2px rgba(0, 0, 0, 0.75);*/
  box-shadow: 0px 5px 20px -2px rgba(0, 0, 0, 0.75);
  padding: 8px;
  background-color: white;
}

.board-container {
  width: 60%;
  max-width: 400px;
}

.board {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  background: linear-gradient(rgb(73, 83, 219), rgb(38, 52, 245));

  margin-bottom: 16px;
}

.board .btn-board {
  text-decoration: none;
  font-size: 1.5em;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;

  border-bottom: 2px solid black;

  transition: background-color 0.5s ease-in;

  cursor: default;
}

.board .btn-board:nth-of-type(3n + 2) {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.board .btn-board:nth-last-of-type(-n + 3) {
  border-bottom: none;
}

.board .btn-board[active] {
  cursor: pointer;
  background-color: #fff;
}

.board .btn-board[active]:hover {
  background-color: rgb(127, 255, 212);
}

.board .btn-board.x {
  background-color: rgb(68, 116, 248);
  color: white;
}

.board .btn-board.x::after {
  content: "X";
  font-size: 1.5em;
}

.board .btn-board.o {
  background-color: rgb(218, 165, 20);
  color: black;
}

.board .btn-board.o::after {
  content: "O";
  font-size: 1.5em;
}

.board .btn-board.win {
  color: white;
  background-color: rgb(31, 255, 117);
}

.board .btn-board.lost {
  color: white;
  background-color: rgb(235, 13, 13);
}

.back-to-lobby {
  position: absolute;
  left: 16px;
  top: 16px;
}

.game-over-message-container {
  transition: all 0.3s;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  opacity: 0;
}

.game-over-message-container[active] {
  transform: translateY(0);
  opacity: 100%;
}

.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.room-info {
  background-color: #fff;
  outline: auto rgb(255, 231, 186);
  width: 90%;
  margin: 0 auto 16px auto;
  padding: 8px;

  flex-grow: 1;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.room-info .players .title {
  margin: 0 0 8px 0;
}

.room-info .players .player {
  display: flex;
  justify-content: space-between;
  padding: 4px 4px;
  margin-bottom: 4px;
  background: linear-gradient(
    rgb(211, 211, 211),
    rgb(255, 255, 255),
    rgb(211, 211, 211)
  );
}

.room-info .players .player.turn {
  background: linear-gradient(
    rgb(109, 160, 255),
    rgb(116, 181, 255),
    rgb(109, 160, 255)
  );
}

.room-info .log {
  overflow: hidden;
  overflow-y: scroll;

  flex-grow: 1;
}

.room-info .log .message {
  display: block;
}

.room-info .log .message.joined {
  color: rgb(7, 63, 7);
}

.room-info .log .message.left {
  color: rgb(207, 2, 2);
}

@media screen and (max-width: 1024px) {
  .main-content-container {
    width: 100%;
    height: 100%;
  }

  .main-content-container::before {
    padding-top: 0 !important;
  }
}
