<template
  ><div
    class="menu ratio-box ratio-box-tall main-content-container main-content-background card"
  >
    <div class="menu-items ratio-box-items main-content-items">
      <div class="menu-title-container">
        <h1 class="menu-title">Jogo da velha</h1>

        <div class="ratio-box board-container card">
          <div class="ratio-box-items board">
            <a class="btn-board o"></a>
            <a class="btn-board x"></a>
            <a class="btn-board x"></a>
            <a class="btn-board x"></a>
            <a class="btn-board o"></a>
            <a class="btn-board o"></a>
            <a class="btn-board o"></a>
            <a class="btn-board x"></a>
            <a class="btn-board x"></a>
          </div>
        </div>
      </div>

      <ul>
        <li>
          <button class="btn menu-btn" id="js-play-multi">Ver salas</button>
        </li>
      </ul>
    </div>
  </div>
</template>
